debugs/
env_testing/
test_registered/
test*
env*
setup.sh
models/model_transmorph_x_translation.pt
extract_registered_enface.py
output/
.github/workflows/macos_build.yaml
.github/workflows/windows_build.yaml
debug.txt
test_GUI_scripts/
model_transmorph_FIXEDPOSEMBD_Large_early_batch32_unidirectional.pt
model_transmorph_FIXEDPOSEMBD_Large_onlyX_batch32_normalized_shiftrange8_2_dynamiccrop_onlyMSE_unidirectional_warp.pt
model_transmorph_FIXEDPOSEMBD_Small_early_batch32_unidirectional.pt
model_transmorph_FIXEDPOSEMBD_Small_onlyX_batch32_normalized_shiftrange8_2_dynamiccrop_onlyMSE_unidirectional_warp.pt
model_transmorph_LRNPOSEMBD_Large_onlyX_batch32_normalized_shiftrange10_dynamiccrop_onlyMSE_unidirectional_warp.pt
model_transmorph_LRNPOSEMBD_Large_onlyX_batch32_ncc_normalized_shiftrange3_dynamiccrop_onlyMSE.pt
profile.html
profile.json
old_models/
.DS_store
rust_bindings/target/
gui_images/
spec_files/
